/* Code found on https://loading.io/css/ */
.loading-indicator {
  position: absolute;
  padding-top: 80px;
  top: 25%;
  left: 43%;
}

.loading-hadouken {
  margin-bottom: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.loading-hadouken > img {
  width:100px;
}

.loading-indicator > p {
  line-height: 0;
  align-self: center;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 0 #F00, -2px 0 #F00, 0 2px #F00, 0 -2px #F00,
               1px 1px #F00, -1px -1px #F00, 1px -1px #F00, -1px 1px #F00;

}

@keyframes example {
  0%   {background-color:none; left:-90px; top:0px;}
  100%  {background-color:none; left:140px; top:0px;}
}
/* .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
