.App {
  width: 1366px;
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.imgwal2 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #b99ae8 0, #9883e0 25%, #6c6cd8 50%, #2258d0 75%, #0048c9 100%);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-bottom: 25px;
}

.imgwal {
  display: flex;
  justify-content: center;
  position: relative;
}

#testebtn {
  top: 300px;
  width: 356px;
  height: 100px;
  position: absolute;
  align-items: center;
  justify-content: center;
  opacity: 0.95;
  box-shadow: 5px 10px 20px black;
}

.imgwal img {
  position: absolute;
  width: 100vh;
}

.imgwal2 img{
  max-width: 100vh;
  max-height: 100vh;
  width: auto;
  height: auto;
  border-radius: 10px;
  /* transition: 0.6s; */
}

.imgwal2 img:hover{
  max-width: 90vh;
  max-height: 90vh;
  width: auto;
  height: auto;
  transition: 0.6s;
}

.imgwal2 p{
  color: white;
  padding: .6rem 2rem;
  border: 2px solid;
  font: weight 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.imgwal2 img {
  max-width: 80vh;
  max-height: 80vh;
  width: auto;
  height: auto;
  cursor: pointer;
}


.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  padding-bottom: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.footer-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-text a {
  font-size: 30px;
  margin: 10px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
