.App {
  height: 100vh;
  background-color: #141414;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

ul > li > span {
  color: white;
}

.boss-card {
  width:530px;
  height: 197px;
  border:1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.boss-card > img {
  width: 350px;
  padding: 0;
}

.boss-card > ul {
  list-style-type: none;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: gray;
}

.boss-card > ul > li {
  padding: 2px;
  border-bottom: 1px solid rgba(86, 31, 55, 0.5);
  margin-right: 15px;
}

.heroes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding-top: 10px;
}

.hero-card {
  width: 170px;
  height: 250px;
  border:1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}

.hero-card > ul {
  list-style-type: none;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  margin-bottom: 0;
}

.hero-card > ul > li {
  padding: 2px;
  border-bottom: 1px solid rgba(86, 31, 55, 0.5);
  margin-right: 15px;
}

.hero-card > img {
  width: 170px;
  height: 113px;
  padding:0;
}

.hero-card > button {
  border-radius: 2px;
  height: 15px;
  float: right;
  margin: 5px 19px 0 auto;
  cursor: pointer;
  color: white;
  font-size: 10px;
  border: none;
  background-color: rgba(86, 31, 55, 0.5);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
